OPENAI_API_KEY=ADD-YOUR-OPENAI_API_KEY-HERE
REPO_NAME=agentic-ai-workflow
DOCKERHUB_USERNAME=lpm0073

# These settings are probably fine to leave as-is.
ENVIRONMENT=local
DOCKERHUB_ACCESS_TOKEN=ADD-YOUR-DOCKERHUB_ACCESS_TOKEN-HERE
LLM_TOOL_CHOICE=required
LOGGING_LEVEL=20
MYSQL_HOST=sql.lawrencemcdaniel.com
MYSQL_PORT=3306
MYSQL_USER=smarter_test_user
MYSQL_PASSWORD=smarter_test_user
MYSQL_DATABASE=smarter_test_db
MYSQL_CHARSET=utf8mb4
PYTHONPATH=./venv:./
CODECOV_TOKEN=ADD-YOUR-CODECOV_TOKEN-HERE
